Package: PACKAGE_NAME
Version: VERSION_STRING
Maintainer: David Brill
Architecture: All
Description: Package contiaining libc++, libc++abi, and libunwind for use in building binaries which will run memory sanitizer.
