Package: libc++-with-msan
Version: 1.0
Maintainer: David Brill
Architecture: all
Description: Package contiaining libc++, libc++abi, and libunwind for use in building binaries which will run memory sanitizer.